body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
#To {
    font-size: 70px;
    
}
#toor{
    font-size: 50px;
    
}
#color{
    color: orange;
}
.tol{
    color: green;
}
.parant{
    display: flex;
    margin-left: 100px;
}

.image{
    margin-left: 300px;
}
#lol{
    color: red;
}
.colo{
    color: blue;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    border: 1px solid orange;
    font-size: 20px;
    color: white;
}
.iu{
    margin-bottom: 200px;
    background-image: url(image/tuku.png);
    background-repeat: no-repeat;
}
#img{
    margin-left: 100px;
}
.long{
    display: flex;
}
.right{
    margin-left: 400px;
    margin-right: 100px;
    padding: 150px;
    box-shadow: 10px 15px 20px rgb(102, 80, 87) ;
    border-radius: 30px;

}
.tik{
    color: red;
}
.head{
    margin-left: 100px;
    color: red;
}
.mit{
    color: royalblue;
}
.co{
    color: seagreen;
}