body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
#To {
    font-size: 70px;
    
}
#toor{
    font-size: 50px;
    
}
#color{
    color: orange;
}
.tol{
    color: green;
}
.parant{
    display: flex;
    margin-left: 100px;
}

.image{
    margin-left: 300px;
}
#lol{
    color: red;
}
.colo{
    color: blue;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    border: 1px solid orange;
    font-size: 20px;
    color: white;
}
.iu{
    margin-bottom: 200px;
    background-image: url(image/tuku.png);
    background-repeat: no-repeat;
}
#img{
    margin-left: 100px;
}
.long{
    display: flex;
}
.right{
    margin-left: 400px;
    margin-right: 100px;
    padding: 150px;
    box-shadow: 10px 15px 20px rgb(102, 80, 87) ;
    border-radius: 30px;

}
.tik{
    color: red;
}
.head{
    margin-left: 30px;
    color: red;
    font-size: 60px;
}
.mit{
    color: royalblue;
}
.co{
    color: seagreen;
}


#first{
    background-image:url(image/Untitled.j[g.png);
    box-shadow: 10px 15px 50px blue;
    border: 5px solid;
    border-image: linear-gradient(rgb(255, 0, 0),rgb(29, 14, 28) ,rgb(0, 204, 255));
    border-image-slice:1 ;
    box-shadow: 5px 2px 50px rgb(52, 226, 160);
    margin-left: 10px;
    padding: 10px;
    width: 25%;
    margin-bottom: 5%;
    margin-right: 50px;


}
#seceand{
    background-image:url(image/Untitled.j[g.png);
    border: 5px solid;
    border-image: linear-gradient(rgb(166, 255, 0),rgb(250, 192, 255) ,rgb(217, 255, 0));
    border-image-slice:1 ;
    box-shadow: 5px 2px 50px rgb(180, 173, 69);
    padding: 10px;
    margin-left: 100px;
    width: 25%;
    margin-bottom: 5%;
    
}
#third{
    
    background-image:url(image/Untitled.j[g.png);
    border: 5px  solid blue; 
    border-image: linear-gradient(blue,pink ,red);
    border-image-slice:1 ;
    box-shadow: 5px 2px 50px rgba(233, 104, 104, 0.945);
    margin-left: 150px;
    padding: 10px;
    margin-bottom: 5%;
    width: 25%;
    margin-right: 50px;
}

.tree{ display: flex;
     padding: 90px;
     background-image: url(image/best.jpg);
     
     background-repeat: no-repeat;
     }
